################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ConsoleApp/ConsoleApp/obj
/.vs
/src/ConsoleApp/.vs/ConsoleApp/v17
/src/ConsoleApp/ConsoleApp/bin/Debug/net6.0
